@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --colorPrimario: #5E60CE;
    --colorSecundario: #ffffff;
    --colorTextoOscuro: #0F172A;
    --colorTextoClaro: #ecefff;
    --blanco: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    font-family: "Elms Sans", sans-serif;
    background-color: var(--blanco);
    width: 80%;
    margin: auto;
}


/* SECCION HEADER */

.container__header {
    min-height: 100vh;
    width: 100%;
    background-image: url(imagenes/fondo_hero.jpg);
    background-size: cover;
    background-position: center;
    padding: 25px 10%;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.nav_links {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    justify-content: space-between;
}

.nav_links a {
    text-decoration: none;
    color: var(--colorTextoClaro);
}

.contenido__hero {
    color: var(--colorTextoClaro);
    font-size: 30px;
}

.texto__hero {
    margin-top: 2rem;
}


.cta {
    width: 200px;
    height: 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    text-align: center;
    align-content: center;
    margin-top: 100px;
    background-color: var(--colorTextoOscuro);
    color: var(--colorTextoClaro);
    text-transform: uppercase;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.288);
}

.cta:hover {
    color: var(--colorPrimario);
    background-color: var(--blanco);
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.288);
}


/* SECCION NOTICIAS */

img {
    max-width: 100%;
}

.noticias {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    margin-top: 2rem;
    justify-content: center;
    align-items: center;
    display: block;
    text-align: center;
    padding: 20px;
    height: 100%;
}


.noticias_contenedor {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin: auto;
}

.noticias_.noticias_contenedor {
    transform: translateY(-3%)
}

.noticias_titulo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--colorPrimario);
}

.noticias_subtitulo {
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--colorTextoOscuro);
}

.noticias_subtitulo::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 2px;
    width: 5rem;
    background-color: var(--colorPrimario);
}

.noticias_card {
    max-width: 350px;
    background-color: var(--blanco);
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px var(--colorTextoOscuro);
    height: 100%;
}

.noticias_imagen {
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
}

.noticias_titular {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.noticias_texto {
    display: flex;
    flex-flow: column;
}

.noticias_contenido {
    padding: 1rem;
}

.enlace_noticia {
    display: flex;
    justify-content: center;
    text-align: center;
}

.leer_mas {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}



/* SECCION TESTIMONIOS */

.testimonios__container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
}

.title__principal {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--colorPrimario);
}

.title__secundario {
    justify-content: center;
    position: relative;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--colorTextoOscuro);
}

.title__secundario:after {
    justify-content: center;
    display: flex;
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    height: 2px;
    width: 5rem;
    background-color: var(--colorPrimario);
}

.seccion__cuadricula {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.seccion__card {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 5rem 2rem 2rem;
    background-color: var(--blanco);
    border-radius: 5px;
    box-shadow: 5px 5px 10px var(--colorTextoOscuro);
    transition: 0.3s;
}

.seccion__card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 75%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: var(--colorPrimario);
    z-index: -1;
    transition: 0.5s;
}

.comas__testimonios {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 3rem;
    color: var(--blanco);
}

.titulo__testimonio {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--colorPrimario);
    transition: 0.3s;
}


.texto__testimonio {
    margin-bottom: 2rem;
    color: var(--colorPrimario);
    transition: 0.3s;
}

.seccion__card img {
    margin-bottom: 1rem;
    max-width: 100px;
    border-radius: 100%;
    border: 2px solid var(--colorPrimario);
    transition: 0.3s;
}

.nombre__testimonio {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--colorPrimario);
    transition: 0.3s;
}

.seccion__card:hover::before {
    width: 400%;
}

.seccion__card:hover :is(.titulo__testimonio, .nombre__testimonio, ) {
    color: var(--blanco);
}

.seccion__card:hover:is(.texto__testimonio, .nombre__testimonio) {
    color: var(--blanco);
}

.seccion__card:hover img {
    border-color: var(--blanco);
}

.seccion__card:hover :is(.texto__testimonio) {
    color: var(--colorTextoClaro);
}

/* AQUI EMPIEZA EL FORMULARIO */

/* Contenedor general */
.formulario__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5E60CE;
    padding: 60px 40px;
    gap: 40px;
    flex-wrap: wrap;
    color: white;
    margin-bottom: 70px;
    border-radius: 15px;
}

/* Columna izquierda */
.formulario__izquierda {
    flex: 1;
    min-width: 300px;
}

/* Título */
.formulario__titulo {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
}

/* Formulario */
.formulario__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Grupo de datos */
.formulario__datos {
    display: flex;
    flex-direction: column;
}

/* Etiquetas */
.formulario__label {
    font-size: 16px;
    margin-bottom: 8px;
}

/* Campos de entrada */
.formulario__relleno {
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: var(--blanco);
    color: #333;
}

/* Botón de envío */
.formulario__enviar{
    padding: 14px 30px;
    background-color: var(--blanco);
    color: #5E60CE;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.formulario__enviar:hover {
    background-color: var(--colorTextoClaro);
}

/* Columna derecha con imagen */
.formulario__derecha {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario__derecha img{
    max-width: 100%;
    height: auto;
    border-radius: 12px;
}


/* AQUI EMPIEZA EL FOOTER */

.footer {
    position: relative;
    width: 100%;
    background-color: #5E60CE;
    min-height: 100px;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.social_icono {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icono {
    color: var(--blanco);
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
}

.icono:hover {
    transform: translateY(-10px);
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu_icono {
    color: var(--blanco);
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
}

.menu_icono:hover {
    opacity: 1;
}